<div class="query-overview">
  <h3><%= @form.name %></h3>

  <div class="query-header">
    <i class="fa fa-hourglass" aria-hidden="true"></i>
      <span><%= time_status(@form) %></span>
    <span class="bullet">•</span>
    <i class="fa fa-users" aria-hidden="true"></i>
    <span><%= _(pluralize(@form.submissions.count, 'participant')) %></span>
    <%= link_to 'Download as CSV', format: 'csv'  %>
  </div>

  <% if @query_results.any? { |r| r['field'].present? } %>
    <div class='table-of-contents'>
    <span><%= _('Jump to question') %></span>
      <ul>
        <% @query_results.each do |result| %>
          <li>
            <%= link_to(result['field'], "##{result['field'].to_slug}") %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="overview">
    <% @query_results.each_with_index do |result, index|  %>
      <% if result["data"].has_key? "empty" %>
        <div>
          <h4 class="review_text_align"><%= @fields[index].name %></h4>
          <p class="review_text_align"><%= _('There is no answers for this question')%> </h5>
          <br>
        </div>
      <% else %>
        <div>
          <%= render partial: @graph.exibition_method(result['show_as']),
                     locals: { graph: @graph, result: result, index: index } %>

          <% if index < @query_results.size - 1 %>
            <hr>
            <br>
          <% end %>
        </div>
      <% end  %>
    <% end %>
  </div>

  <%= button_bar do %>
    <%= button :back, _('View all queries'), :action => 'queries' %>
  <% end %>
</div>
