<% category_types(true).each do |category_name, category_type| %>
  <div class='categories-wrapper'>
    <h1><%= category_name %></h1>

    <%= button_bar do %>
      <%= button :add, _('New category'), :action => 'new', :type => category_type %>
    <% end %>

    <ul class='tree categories-list'>
      <%= render :partial => 'category', :collection => root_categories_for(category_type) %>
    </ul>
  </div>
<% end %>

<%= javascript_include_tag 'manage-categories' %>
